@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    font-family: 'Source Serif Pro', serif;
    color: #333;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #eee !important;
    color: #333;
}
input[type=checkbox], input[type=radio] {
    zoom: 2.0;
}
header.header {
    min-height: auto;
    padding: 20px 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005BE7;
}
.header h1 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    clear: none !important;
    margin: 0;
}
.header h1 strong {
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid rgba(255,255,255,0.25);
    text-transform: capitalize;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: none !important;
}
footer {
    padding: 20px 40px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
footer ul.footer-logos {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
footer ul.footer-logos li.logo {
    width: 150px;
    list-style-type: none;
    margin: 0 50px 20px 0;
    display: inline-block;
}
footer ul.footer-logos li.logo img {
    width: 100%;
}
.debug {
    border: 1px solid black;
    display: block;
    height: 350px;
}
#container {
    padding: 20px 40px 40px;
    background-color: #eee;
    clear: both;
    /*border-top: 2px solid #fff;*/
}
#questions .question {
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 25px;
}
.nav {
    position: relative;
    clear: both;
    margin-top: 40px !important;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
}
.nav h2 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 22px;
}
h2.title {
    font-size: 22px;
    margin: 0 0 20px 0;
    color: #005BE7;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
a.next {
    right: 0;
    position: absolute;
    border: 2px solid #ddd;
    background-color: #fafafa;
    letter-spacing: .5px;
    color: #005BE7 !important;
    text-align: center;
    padding: 8px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    width: 36%;
}
a.next svg,
a.prev svg {
    stroke: #005BE7;
    stroke-width: 3px;
    height: 17px;
    vertical-align: text-bottom;
    margin: 0;
    padding: 0;
}
a.next:hover svg,
a.prev:hover svg {
    stroke: #fff !important;
}
a.next:hover,
a.prev:hover {
    color: #fff !important;
    border-color: #003e9b !important;
    box-shadow: none !important;
    background-color: #005BE7;
}
a.prev {
    border: 2px solid #ddd;
    background-color: #fafafa;
    color: #005BE7 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 8px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    width: 36%;
}
a.compute-score {
    color: #fff !important;
    border-color: #003e9b !important;
    box-shadow: none !important;
    background-color: #005BE7;
    text-align: center;
    letter-spacing: .5px;
    padding: 8px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    width: 36%;
}
a.compute-score svg {
    stroke: #fff;
    height: 18px;
    margin-right: 5px;
    margin-top: -3px;
    vertical-align: middle;
}
a.compute-score:hover {
    opacity: 0.5;
    background-color: #005BE7 !important;
}
#update-score {
    background-color: #FFC72C;
    color: #333;
    text-align: center;
    letter-spacing: .5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px 0px 0px 8px;
    border: 2px solid transparent;
}
#update-score:hover {
    background-color: #ddd;
    color: #002b5c !important;
}
.form-group {
    margin-top: 25px;
}
.form-check {
    padding: 0;
    line-height: 1rem;
    padding-left: 3.5rem !important;
}
.outcome-container {
    padding: 0 60px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.outcome {
    height: 60px;
    width: 100%;
    border-radius: 8px;
    margin: 0 20px 40px 0;
    padding: 0 !important;
    /* border: 1px solid black; */
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color:#333;
}
.outcome.off .more-info,
#outcome-you-are-ok.outcome.off .more-info,
#outcome-doctor.outcome.off .more-info,
#outcome-mental-health.outcome.off .more-info,
#outcome-emergency.outcome.off .more-info {
    padding: 15px;
    font-size: 15px;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color:#aaa;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: none;
}
.outcome .more-info svg,
.outcome.off .more-info svg,
#outcome-you-are-ok.outcome.off .more-info svg,
#outcome-doctor.outcome.off .more-info svg,
#outcome-mental-health.outcome.off .more-info svg,
#outcome-emergency.outcome.off .more-info svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    stroke: #aaa;
    fill: transparent;
    height: 1.25em !important;
}
#outcome-you-are-ok.outcome .more-info {
    color: #333;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    padding: 15px;
    font-size: 15px;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #43E794;
    border-radius: 8px;
}
#outcome-doctor.outcome .more-info,
#outcome-mental-health.outcome .more-info,
#outcome-emergency.outcome .more-info  {
    color: #333;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    padding: 15px;
    font-size: 15px;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #FD302B;
    border-radius: 8px;
}
#outcome-doctor.outcome .more-info svg,
#outcome-mental-health.outcome .more-info svg,
#outcome-emergency.outcome .more-info svg   {
    fill: #FD302B;
    stroke: #333;
}
.outcome .more-info:hover,
.outcome.off .more-info:hover {
    color: #fff !important;
    border-color: rgb(0, 77, 192) !important;
    box-shadow: none !important;
    background-color: #005BE7;
}
.outcome .more-info:hover svg,
.outcome.off .more-info:hover svg {
    fill: #005BE7 !important;
    stroke: #fff !important;
}
#outcome-you-are-ok.outcome .more-info svg {
    fill: #43E794;
    stroke: #333;
}

.outcome.off {
    background-color: #f8f8f8;
    color: #ddd;
    box-shadow: none;
}
header h1 {
    color: #fff;
    text-align: center;
}
#questions .question {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: bold;
}
#questions label {
    font-size: 20px;
    line-height: 24px;
    font-weight: regular;
    margin: 10px 0;
    text-indent: -1.65em;
}

/* Score Chart */

.score-container {
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.score-container .score {
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
    border: 2px solid transparent;
    background-color: #fff;
    color: #333 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 7px 10px 7px;
    min-height: 48px;
    min-width: 58px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 0px 8px 8px 0px;
    border-left: 0;
}
#score-container {
    padding: 20px 40px;
}
#score-container h2 {
    margin: 10px 0 5px 0;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
#score-container .description {
    margin: 0 0 20px 0;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  font-size: 6em;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .score {
    font-weight: bold;
    display: inline-block;
    color: #333 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #DADADA;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #DADADA;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #43E794;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Recommendation Page */

a.back {
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    font-weight: 400;
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
a.back svg {
    stroke: #fff;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
a.back:hover {
    opacity: 0.5;
    background: transparent;
}
.recommendation-container,
.recommendation-card {
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 25px;
    margin: 40px 0;
}
.recommendation-container h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #005BE7;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
.recommendation-container p,
.recommendation-card p {
    margin: 0 0 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.recommendation-container p svg {
    height: 18px;
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 5px;
    stroke: #005BE7;
}
.recommendation-container p:last-child {
    margin: 0;
}
.recommendation-container .recommendation p a,
.recommendation-card p a,
.list-link a {
    color: #005BE7;
    text-decoration: none;
    border-bottom: 1px dotted #005BE7;
}
.recommendation-container .recommendation p a:hover,
.recommendation-card p a:hover,
.list-link a:hover {
    color: #005BE7;
    text-decoration: none;
    background: none;
    border: 0;
}
.recommendation-text {
    margin: 0 0 10px 0;
    font-size: 1.25em;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
.recommendation-container *,
.recommendation-card * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.recommendation-card {
    width: 50%;
}
.recommendation-card.list {
    padding: 0;
}
.recommendation-card.preferred {
}
.recommendation-card.preferred h2 {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}
.recommendation-card.preferred .cta {
    padding: 10px 20px;
    margin: 10px 0 5px;
    display: inline-block;
    font-weight: bold;
    background-color: #005BE7;
    border-radius: 100px;
    font-size: 1.15em;
    color: #fff;
}
.recommendation-card.preferred .cta svg {
    margin-right: 5px;
    vertical-align: middle;
    height: 20px;
    stroke: #fff;
}
.recommendation-card h2 {
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: bold;
    color: #005BE7;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}
.recommendation-container ul {
    padding-left: 50px;
}
.recommendation-container li {
    list-style-type: disc;
    padding-left: 10px;
}
.list-link {
    list-style-type: disc !important;
    list-style-position: outside;
    margin-left: 20px !important;
    padding-left: 15px !important;
}
.list-link svg {
    height: 14px;
    stroke: #005BE7;
    margin-right: 5px;
}
/* Accordion Styles */
.tabs {    
    overflow: hidden;
  }
  .tab {
    width: 100%;
    overflow: hidden;
  }
  .tab-label {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 25px 5px;
    border-top: 1px solid #eee;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
  }
  .tab-label:hover {
    color: #005BE7;
  }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .tab-content {
    max-height: 0;
    padding: 0 25px;
    background:transparent;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .tab-content ul {
      padding: 0;
      margin: 0;
  }
  .tab-content li {
      padding: 0;
      margin: 10px 0 0 0;
      list-style-type: none;
  }
  .tab-content .cta {
    padding: 10px 20px;
    margin: 10px 0 0 0;
    display: inline-block;
    font-weight: bold;
    background-color: #005BE7;
    border-radius: 100px;
    font-size: .90em;
    color: #fff;
}
.tab-content .cta svg {
    margin-right: 5px;
    vertical-align: middle;
    height: 18px;
    stroke: #fff;
    margin-top: -2px;
}
  .tab-close {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }
  .tab-close:hover {
    background: transparent;
  }
  .recommendation-card input[type=checkbox] {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -1 !important;
  }
  .recommendation-card input[type=checkbox]:checked + .tab-label {
    background: transparent;
  }
  .recommendation-card input[type=checkbox]:checked + .tab-label::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .recommendation-card input[type=checkbox]:checked ~ .tab-content {
    max-height: 100vh;
    padding: 0 25px 25px;
  }

/* Media Queries */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header.header {
        display: block;
        text-align: center;
    }
    .header h1 {
        text-align: center;
        width: 100%;
        margin: 0;
        clear: both !important;
    }
    .header h1 strong {
        display: block;
        width: 100%;
        text-align: center;
        border: 0;
        padding: 0;
        margin: 0;
    }
    .pie-wrapper {
        margin: 0 auto;
        float: none;
    }
    .outcome-container {
        flex-flow: wrap;
        width: 100%;
        padding: 0;
    }
    .outcome,
    .outcome.off {
        height: auto;
        margin: 10px 25px;
    }
    #container {
        padding: 25px !important;
    }
    a.back {
        margin-top: 15px;
        display: inline-block;
    }
    .recommendation-container h2 {
        font-size: 1.25em;
    }
    .recommendation-text {
        text-align: center;
    }
    .recommendation-container {
        margin: 0 0 25px 0 !important;
    }
    .recommendation-card {
        margin: 25px 0 25px 0 !important;
        width: 100%;
    }
    footer ul.footer-logos {
        text-align: center;
        padding: 20px 0 40px 0;
    }
    footer ul.footer-logos li.logo {
        width: 200px;
        clear: both;
        margin: 0 auto 50px auto;
        display: block;
        text-align: center;
    }
    footer ul.footer-logos li.logo:last-child {
        margin: 0 auto;
    }
}

/*# sourceMappingURL=https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/style.26492bb4e17d90b3a01f-1589910270823.css.map*/