@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    font-family: 'Source Serif Pro', serif;
    color: #333;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #eee !important;
    color: #333;
}
input[type=checkbox], input[type=radio] {
    zoom: 2.0;
}
header.header {
    min-height: auto;
    padding: 20px 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005BE7;
}
.header h1 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    clear: none !important;
    margin: 0;
}
.header h1 strong {
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid rgba(255,255,255,0.25);
    text-transform: capitalize;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: none !important;
}
footer {
    padding: 20px 40px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
footer ul.footer-logos {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
footer ul.footer-logos li.logo {
    width: 150px;
    list-style-type: none;
    margin: 0 50px 20px 0;
    display: inline-block;
}
footer ul.footer-logos li.logo img {
    width: 100%;
}
.debug {
    border: 1px solid black;
    display: block;
    height: 350px;
}
#container {
    padding: 20px 40px 40px;
    background-color: #eee;
    clear: both;
    /*border-top: 2px solid #fff;*/
}
#questions .question {
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 25px;
}
.nav {
    position: relative;
    clear: both;
    margin-top: 25px !important;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.nav h2 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 22px;
}
h2.title {
    font-size: 22px;
    margin: 0 0 20px 0;
    color: #005BE7;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
a.next {
    right: 0;
    position: absolute;
    border: 2px solid #ddd;
    background-color: #fafafa;
    letter-spacing: .5px;
    color: #005BE7 !important;
    text-align: center;
    padding: 4px 16px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    width: 48%;
}
a.next svg,
a.prev svg {
    stroke: #005BE7;
    stroke-width: 3px;
    height: 17px;
    vertical-align: text-bottom;
    margin: 0;
    padding: 0;
}
a.next:hover svg,
a.prev:hover svg {
    stroke: #fff !important;
}
a.next:hover,
a.prev:hover {
    color: #fff !important;
    border-color: rgb(0, 77, 192) !important;
    box-shadow: none !important;
    background-color: #005BE7;
}
a.prev {
    border: 2px solid #ddd;
    background-color: #fafafa;
    color: #005BE7 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 4px 16px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    width: 48%;
}
#update-score {
    background-color: #FFC72C;
    color: #333;
    text-align: center;
    letter-spacing: .5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 8px 0px 0px 8px;
    border: 2px solid transparent;
}
#update-score:hover {
    background-color: #ddd;
    color: #002b5c !important;
}
.score-container {
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.score-container .score {
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
    border: 2px solid transparent;
    background-color: #fff;
    color: #333 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 7px 10px 7px;
    min-height: 48px;
    min-width: 58px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 0px 8px 8px 0px;
    border-left: 0;
}
.form-group {
    margin-top: 25px;
}
.form-check {
    padding: 0;
    line-height: 1rem;
    padding-left: 3.5rem !important;
}
.outcome-container {
    padding: 0 60px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.outcome {
    height: 60px;
    width: 100%;
    border-radius: 8px;
    margin: 0 20px 40px 0;
    padding: 0 !important;
    /* border: 1px solid black; */
    background-color: #DE1435;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color:#333;
}
.outcome .more-info {
    padding: 15px;
    font-size: 15px;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color:#aaa;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.more-info svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    stroke: #aaa;
    height: 1.25em !important;
}
#outcome-you-are-ok .more-info {
    color: #333;
    border-color: #43E794;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}
.outcome .more-info:hover {
    color: #fff !important;
    border-color: rgb(0, 77, 192) !important;
    box-shadow: none !important;
    background-color: #005BE7;
}
.outcome .more-info:hover svg {
    fill: #005BE7 !important;
    stroke: #fff !important;
}
#outcome-you-are-ok svg {
    fill: #43E794;
    stroke: #333;
}

.outcome.off {
    background-color: #f8f8f8;
    color: #ddd;
}
header h1 {
    color: #fff;
    text-align: center;
}
#questions .question {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: bold;
}
#questions label {
    font-size: 20px;
    line-height: 24px;
    font-weight: regular;
    margin: 10px 0;
    text-indent: -1.65em;
}

/* Score Chart */

#score-container {
    padding: 20px 40px;
}
#score-container h2 {
    margin: 10px 0 5px 0;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
#score-container .description {
    margin: 0 0 20px 0;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  font-size: 6em;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .score {
    font-weight: bold;
    display: inline-block;
    color: #333 !important;
    text-align: center;
    letter-spacing: .5px;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #DADADA;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #DADADA;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #43E794;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Media Queries */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header.header {
        display: block;
        text-align: center;
    }
    .header h1 {
        text-align: center;
        width: 100%;
        margin: 0;
        clear: both !important;
    }
    .header h1 strong {
        display: block;
        width: 100%;
        text-align: center;
        border: 0;
        padding: 0;
        margin: 0;
    }
    .score-container {
        margin-top: 20px;
    }
    footer ul.footer-logos {
        text-align: center;
    }
    footer ul.footer-logos li.logo {
        width: 200px;
        clear: both;
        margin: 0 auto 50px auto;
        display: block;
        text-align: center;
    }
    footer ul.footer-logos li.logo:last-child {
        margin: 0 auto;
    }
}

/*# sourceMappingURL=https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/style.26492bb4e17d90b3a01f-1589910270823.css.map*/